.btn{
	.fp;
	margin: 0;
	padding: 0 25px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	outline: none;
	letter-spacing: 0.26em;
	text-align: center;
	background: @c2;
	&:hover{
		background: lighten(@c2,5%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: lighten(@c2,5%);
		}
	}
}