// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Open Sans',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #333;
@c2: #92ba21;
@c3: #c1c5b5;
@c4: #c94d24;
@c5: #9a9e8b;

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1530px;
@content-width-hd: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 15px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1600px)";
@hd: ~"(min-width: 1200px) and (max-width: 1599px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(min-width: 480px) and (max-width: 767px)";
@xxs: ~"(max-width: 479px)";