// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	position: relative;
	border: 1px solid @input-border;
	font-size: @input-size;
	width: 100%;
	height: @input-height;
	padding: 0 @input-padding;
	color: @c1;
	background: @input-bg;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: darken(@input-border,30%);
	}
	&:focus{
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
	}
	&::-webkit-input-placeholder {
		color: lighten(@c1,50);
	}
	&:-moz-placeholder {
		color: lighten(@c1,50);
	}
	&::-moz-placeholder {
		color: lighten(@c1,50);
	}
}
textarea{
	padding: @input-padding;
	height: auto;
}
select[multiple] {
	width: auto;
	height: auto;
	padding: @input-padding;
}
input[type=number] {
	padding-right: 0;
}
input[type=submit],
input[type=button],
button {
	.btn;
}
input.input-mini{
	width: @input-height;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
input[type=number].input-mini {
	width: @input-height+20;
}
input.input-small{
	width: 50%;
}
input.input-large{
	width: 100%;
}

// select box
.select_wrap {
	position: relative;
	display: block;
	overflow: hidden;
	background: @input-bg;
	&:before {
		.fi;
		content: '\f004';
		position: absolute;
		top: 50%;
		right: 0;
		font-size: 16px;
		width: @input-height;
		height: @input-height;
		line-height: @input-height;
		text-align: center;
		margin: -(@input-height/2) 0 0;
		color: @c2;
	}
	select {
		position: relative;
		-moz-appearance: none;
		-webkit-appearance:none;
		background: none;
		padding-right: @input-height;
	}
	select::-ms-expand {
		display: none;
	}

}

// checkbox, radio
.checkbox_wrap {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	.checkbox_btn {
		position: relative;
		font-size: @fsp*0.9;
		margin: 0 2px 0 0;
		color: darken(@input-border,20);
		&:before {
			.fi;
			width: 18px;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			margin: -5px 0;
		}
	}
	input[type="checkbox"] + .checkbox_btn {
		font-size: 17px;
		position: relative;
		top: -1px;
		&:before {
			content: '\f096';
		}
	}
	input[type="checkbox"]:checked + .checkbox_btn {
		&:before {
			content: '\f14a';
		}
	}
	input[type="radio"] + .checkbox_btn {
		&:before {
			content: '\e802';
		}
	}
	input[type="radio"]:checked + .checkbox_btn {
		&:before {
			content: '\e803';
		}
	}
	input:checked + .checkbox_btn {
		color: @c2;
	}

	input[type="checkbox"]:disabled + .checkbox_btn {
		color: lighten(@input-border,0);
	}
	input {
		position: absolute;
		z-index: 1;
		top: -20px;
		left: -20px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}