#page-header {
	position: relative;
	z-index: 999;
	padding: 15px 0 0;
	border-bottom: 1px solid #000;
}
#col-top {
	position: relative;
	overflow: hidden;
	background: #000;
	margin: 0 0 -30px;
	overflow: hidden;
	@media @sm, @xs, @xxs {
		margin: 0;
	}
	.container {
		display: table;
		@media @md, @sm, @xs, @xxs {
			display: block;
		}
	}
}
#col-bottom {
	position: relative;
	padding: 70px 0 15px;
	background: #d9ddcb;
}
#page-footer {
	padding: 35px 0;
	background: #000;
	border-top: 5px solid #fff;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-main {
	float: right;
	width: 1180px;
	margin:  0 0 50px;
	@media @hd {
		width: 820px;
	}
	@media @md, @sm, @xs, @xxs {
		width: 100%;
	}
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-left {
	float: left;
	width: 280px;
	margin: 105px 0 50px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
	}
	@media @sm, @xs, @xxs {
		margin: 0;
	}
}
#wrapper {
	@media @sm, @xs, @xxs {
		position: relative;
		overflow: hidden;
	}
}
.text-success { 
	color: @c2;
}
.text-alert, .text-error {
	color: @c4;
}
.header_logo { 
	.clearfix;
	position: relative;
	z-index: 1;
	top: 25px;
	float: left;
	line-height: 1.6;
	margin: 0;
	color: @c1;
	width: 700px;
	height: 86px;
	overflow: visible;
	text-align: left;
	margin: 0 0 0 -7px;
	padding: 0;
	letter-spacing: 0;
	border: 0;
	@media @hd {
		top: 0;
		width: 386px;
	}
	@media @md, @sm, @xs, @xxs {
		top: -21px;
		width: 360px;
		height: auto;
	}
	@media @sm, @xs, @xxs {
		float: none;
		margin: 0 auto;
	}
	@media @xxs {
		width: 100%;
	}
	a { 
		float: left;
		width: 386px;
		position: relative;
		top: 6px;
		background: #fff;
		border: 7px solid @c2;
		padding: 2px 0 20px 8px;
		border-top: none;
		text-decoration: none;
		color: @c1;
		font-size: 0;
		line-height: 1;
		text-align: center;
		@media @md, @sm, @xs, @xxs {
			padding: 10px 0;
			width: 100%;
		}
		&:before {
			.fi;
			font-size: 32px;
			content: '\e80e';
			position: relative;
			top: -6px;
			margin: 0 8px 0 0;
			display: inline-block;
			vertical-align: middle;
		}
		&:after {
			.fi;
			font-size: 84px;
			content: '\e80f';
			display: inline-block;
			vertical-align: middle;
		}
	}
	span { 
		float: left;
		width: 314px;
		padding: 0 0 0 40px;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.2em;
		font-weight: 600;
		@media @hd {
			width: 386px;
			padding: 10px 0 0;
			text-align: center;
		}
		@media @md, @sm, @xs, @xxs {
			width: 100%;
			padding: 10px 0 0;
			text-align: center;
		}
	}
}
.menu_toggle {
	display: none;
	background: none;
	font-size: 0;
	color: @c2;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 20px auto 40px;
	&:hover{
		background: none;
	}
	&:before {
		.fi;
		content: '\f0c9';
		margin: 0 15px 0 0;
	}
	@media @sm, @xs, @xxs {
		display: block;
		.menu-on & {
			&:before {
				content: '\e80d';
				color: @c4;
			}
		}
	}
}
.header_top, .header_bottom {
	text-align: right;
	@media @sm, @xs, @xxs {
		text-align: center;
	}
}
.header_top {
	@media @xs, @xxs {
		text-align: center;
	}
}
.mod_menu-lang { 
	.clearfix;
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	margin: 0 6px 11px;
	font-size: 13px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 600;
	@media @md {
		margin-bottom: 30px;
	}
	@media @sm, @xs, @xxs {
		display: none;
		font-size: 16px;
		margin: 0 20px;
		.menu-on & {
			display: inline-block;
		}
	}
	.mod-title { 
		float: left;
		margin: 0 4px 0 0;
	}
	ul { 
		.rlist;
		@media @lg, @hd, @md {
			position: relative;
			float: left;
			height: 1px;
			overflow: visible;
			&:before {
				.fi;
				content: '\f004';
				position: absolute;
				z-index: 2;
				top: 0;
				right: 10px;
				font-weight: normal;
				color: @c2;
			}
			&:after {
				content: '';
				position: absolute;
				top: -10px;
				left: 0;
				right: 0;
				bottom: -10px;
			}
			.act { 
				a { 
				}
			}
			li { 
				z-index: 1;
				display: none;
				width: 60px;
				padding: 0 55px 5px 10px;
				background: #fff;
				&.act {
					display: block;
				}
				a { 
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			&:hover{
				&:before {
					color: #fff;
				}
				&:after {
					background: @c2;
				}
				li {
					display: block;
					background: @c2;
					&:last-child {
						border-bottom: 5px solid @c2;
					}
					a {
						color: #fff;
					}
				}
			}
		}
		@media @sm, @xs, @xxs {
			display: inline-block;
			float: left;
			li {
				display: inline-block;
				a {
					color: @c1;
				}
				&.act {
					a {
						color: @c2;
					}
				}
			}
		}
	}
}
.mod_menu-login { 
	.clearfix;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 11px;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.2;
	@media @md {
		margin-bottom: 30px;
	}
	@media @sm, @xs, @xxs {
		display: none;
		font-size: 16px;
		margin: 0 20px;
		.menu-on & {
			display: inline-block;
		}
	}
	&:before {
		.fi;
		content: '\f109';
		float: right;
		font-size: 21px;
		color: @c2;
		margin: -5px 0 0;
		font-weight: normal;
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	ul { 
		.rlist;
		float: left;
		li { 
			float: left;
			margin: 0 6px;
			&:before {
				position: static;
				content: '/';
				font-style: italic;
				font-weight: 600;
				margin: 0 10px 0 -2px;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a { 
				color: @c1;
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-contact-header { 
	position: relative;
	clear: right;
	display: inline-block;
	vertical-align: top;
	height: 55px;
	padding: 0 75px 0 0;
	border-right: 1px solid #000;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	@media @xs, @xxs {
		border-right: 0;
	}
	&:before {
		.fi;
		.border-radius(50%);
		content: '\f129';
		position: absolute;
		top: 0;
		right: 18px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		background: @c3;
	}
	.phone { 
		font-weight: 800;
		font-size: 22px;
		line-height: 0.8;
		color: #000;
		margin: 0 0 6px;
	}
	.email { 
		font-size: 14px;
		line-height: 1.2;
		a { 
			color: #000;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_search { 
	@media @lg, @hd, @md {
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 55px;
		width: 80px;
		border-right: 1px solid #000;
		text-align: center;
		.toggle_search { 
			.border-radius(50%);
			font-size: 0;
			width: 40px;
			height: 40px;
			line-height: 40px;
			padding: 0;
			text-align: center;
			color: #fff;
			background: #000;
			&:before {
				.fi;
				content: '\e818';
				font-size: 20px;
			}
			.search-on & {
				background: red;
				&:before {
					content: '\e80d';
				}
			}
			&:hover{
				background: @c2;
			}
		}
		form { 
			position: absolute;
			top: 0;
			right: 100%;
			bottom: 0;
			width: 300px;
			padding: 8px 10px;
			background: #000;
			display: none;
			.search-on & {
				display: block;
			}
			div { 
				input { 
					width: 240px;
					float: left;
				}
				button { 
					width: 40px;
					padding: 0;
					font-size: 0;
					&:before {
						.fi;
						content: '\e818';
						font-size: 20px;
					}
				}
			}
		}
	}
	@media @sm, @xs, @xxs {
		position: relative;
		display: none;
		clear: both;
		margin: 0 0 20px;
		.menu-on & {
			display: block;
		}
		.toggle_search {
			display: none;
		}
		input {
			.border-radius(20px);
		}
		button {
			.border-radius(0 20px 20px 0);
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0;
			&:before {
				.fi;
				content: '\e818';
				font-weight: normal;
				font-size: 20px;
			}
		}
	}
}
.mod_custom-basket { 
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid #000;
	@media @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	@media @sm, @xs, @xxs {
		border-right: none;
	}
	a { 
		position: relative;
		display: block;
		text-decoration: none;
		padding: 7px 26px 0 88px;
		height: 55px;
		@media @sm, @xs, @xxs {
			padding-right: 0;
		}
		&:before {
			.fi;
			.border-radius(50%);
			content: '\f291';
			position: absolute;
			top: 0;
			left: 18px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
			text-align: center;
			color: #fff;
			font-weight: normal;
			background: @c2;
		}
		.basket { 
			.border-radius(50%);
			position: absolute;
			top: 50%;
			left: 50px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			margin: -7px 0 0;
			color: #fff;
			font-size: 11px;
			font-weight: bold;
			text-align: center;
			background: #000;
		}
		.price { 
			font-size: 22px;
			line-height: 1.2;
			font-weight: 300;
			mark {
				font-weight: 700;
			}
		}
		&:hover{
			color: #000;
			&:before {
				background: #000;
			}
			.basket {
				background: @c2;
			}
		}
	}
}
.mod_menu-main { 
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 27.5%;
	padding: 20px 40px;
	background: @c2;
	@media @hd {
		width: 33.3333%;
	}
	@media @md, @sm, @xs, @xxs {
		width: auto;
		display: block;
		padding: 20px 0;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 100%;
			bottom: 0;
			width: 999em;
			background: @c2;
		}
	}
	@media @sm, @xs, @xxs {
		display: none;
		padding: 0;
		.menu-on & {
			display: block;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		bottom: 0;
		width: 999em;
		background: @c2;
	}
	ul { 
		.rlist;
		li { 
			font-weight: 600;
			text-transform: uppercase;
			color: #fff;
			padding: 0 0 0 14px;
			margin: 27px 0;
			font-size: 14px;
			line-height: 1.2;
			@media @hd {
				margin: 18px 0;
			}
			@media @md {
				display: inline-block;
				margin: 10px 20px 10px 0;
			}
			@media @sm, @xs, @xxs {
				z-index: 1;
				padding: 0;
				margin: 0;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: -999em;
					right: -999em;
					border-bottom: 1px solid fade(#fff,30);
				}
			}
			&:before {
				.fp;
				content: '/';
				font-size: 14px;
				line-height: 1.2;
				@media @sm, @xs, @xxs {
					display: none;
				}
			}
			a { 
				color: #fff;
				text-decoration: none;
				@media @sm, @xs, @xxs {
					display: block;
					padding: 20px 0;
					font-size: 16px;
					font-weight: 300;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				color: #000;
				a {
					color: #000;
				}
			}
		}
	}
}
.mod_articles_category-slideshow { 
	position: relative;
	display: table-cell;
	overflow: hidden;
	vertical-align: middle;
	width: 72.5%;
	@media @hd {
		width: 66.6666%;
	}
	@media @md, @sm, @xs, @xxs {
		width: auto;
		display: block;
	}
	@media  @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	&:before {
		.border-radius(900px);
		.rotate(-45deg);
		content: '';
		position: absolute;
		z-index: 101;
		top: 50%;
		left: -300px;
		width: 1280px;
		height: 1280px;
		margin: -655px 0 0;
		border: 300px solid @c2;
		border-right-color: transparent;
		border-bottom-color: transparent;
		@media @md, @sm, @xs, @xxs {
			display: none;
		}
	}
	.mod-items { 
		.mod-item { 
			display: none;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			a { 
				display: table;
				width: 100%;
				text-decoration: none;
				figure { 
					position: relative;
					display: table-cell;
					vertical-align: middle;
					overflow: hidden;
					width: 49%;
					@media @hd {
						width: 55%;
					}
					@media @md {
						width: 45%;
					}
					@media @sm, @xs, @xxs {
						width: 25%;
						padding: 20px 0 90px;
					}
					&:after, &:before {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						width: 25%;
						background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
						background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
						background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
						@media @sm, @xs, @xxs {
							display: none;
						}
					}
					&:before {
						left: 0;
						right: auto;
						background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
						background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
						background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
						@media @lg, @hd, @sm, @xs, @xxs {
							display: none;
						}
					}
					img { 
						display: block;
						width: 100%!important;
						@media @sm, @xs, @xxs {
							border: 4px solid @c2;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
						}
					}
				}
				.item-content { 
					display: table-cell;
					vertical-align: middle;
					padding: 0 100px 90px 80px;
					color: #fff;
					font-size: 21px;
					line-height: 1.2;
					font-weight: 300;
					@media @hd {
						font-size: 18px;
						padding: 0 50px 90px 0;
					}
					@media @md {
						padding: 0 50px 70px 20px;
					}
					@media @sm, @xs, @xxs  {
						padding: 20px 0 90px 60px;
					}
					h2 { 
						margin: 0;
						font-weight: 300;
						text-transform: uppercase;
						font-size: 33px;
						line-height: 1.5;
						color: @c2;
						margin: 30px 0;
						@media @hd {
							font-size: 28px;
							margin: 15px 0;
						}
						@media @sm, @xs, @xxs {
							font-size: 20px;
							margin: 10px 0;
						}
					}
					p { 
						margin: 25px 0;
						@media @hd {
							margin: 10px 0;
						}
						@media @sm, @xs, @xxs {
							margin: 10px 0;
						}
					}
					.price { 
						display: inline-block;
						vertical-align: middle;
						color: @c2;
						font-size: 36px;
						margin: 0 14px 0 0;
						@media @hd {
							font-size: 30px;
						}
						@media @sm, @xs, @xxs {
							font-size: 24px;
						}
						mark { 
							font-weight: 800;
						}
						del { 
							font-size: 21px;
							color: #9e9e9e;
							display: block;
							margin: 8px 0 0;
							text-decoration: line-through;
							@media @sm, @xs, @xxs {
								margin: 0;
								font-size: 16px;
							}
						}
					}
					.discount { 
						@media @lg, @hd, @md {
							position: relative;
							display: inline-block;
							vertical-align: middle;
							position: relative;
							text-align: center;
							width: 96px;
							height: 96px;
							line-height: 96px;
							font-size: 36px;
							&:before {
								.border-radius(50%);
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								border: 7px solid @c2;
								border-right-color: transparent;
							}
							span {
								display: inline-block;
								width: 0;
								overflow: visible;
							}
						}
						mark { 
							font-weight: 800;
						}
					}
				}
			}
		}
	}
	.prev, .next {
		.border-radius(50%);
		position: absolute;
		z-index: 101;
		left: -35px;
		top: 50%;
		width: 86px;
		height: 86px;
		line-height: 78px;
		padding: 0 14px;
		margin: -60px 0 0;
		text-align: right;
		border: 4px solid transparent;
		border-right-color: @c2;
		font-size: 0;
		color: #fff;
		text-decoration: none;
		@media @sm, @xs, @xxs {
			display: none;
		}
		&:hover{
			color: @c2;
		}
		&:before {
			.fi;
			content: '\e809';
			font-size: 32px;
		}
	}
	.next {
		left: auto;
		right: -35px;
		text-align: left;
		border-left-color: @c2;
		border-right-color: transparent;
		&:before {
			content: '\e80a';
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 48px;
		right: 18px;
		@media @sm, @xs, @xxs {
			right: 0;
			left: 0;
			text-align: center;
			bottom: 35px;
		}
		span {
			font-family: monospace;
			font-size: 30px;
			line-height: 1;
			color: #ccc;
			cursor: pointer;
			@media @sm, @xs, @xxs {
				font-size: 50px;
			}
			&.cycle-pager-active {
				color: @c2;
			}
		}
	}
}
.eshop-items-title-well { 
	position: relative;
	z-index: 101;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 300;
	letter-spacing: 0.27em;
	padding: 30px 0 0;
	margin: 0 0 85px;
	color: #000;
	overflow: hidden;
	@media  @sm, @xs, @xxs {
		padding: 0;
		margin: 0 0 40px;
		.menu-on & {
			display: none;
		}
	}
	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		border: 13px solid transparent;
		margin: 0 0 0 -13px;
		border-top-color: @c2;
		@media  @sm, @xs, @xxs {
			display: none;
		}
	}
	.bg-left, .bg-right {
		position: absolute;
		top: 0;
		left: -20%;
		right: 50%;
		height: 30px;
		border: 5px solid #fff;
		border-left-width: 7px;
		border-right-width: 7px;
		border-bottom: none;
		margin: 0 12px 0 0;
		overflow: hidden;
		-ms-transform: skewX(45deg);
		-webkit-transform: skewX(45deg);
		transform: skewX(45deg);
		@media  @sm, @xs, @xxs {
			display: none;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: -39px;
			left: -39px;
			bottom: 0;
			background: lighten(@c2,20) url(../images/bg/01.png) right bottom;
			-ms-transform: skewX(-45deg);
			-webkit-transform: skewX(-45deg);
			transform: skewX(-45deg);
		}
	}
	.bg-right {
		left: 50%;
		right: -20%;
		margin: 0 0 0 11px;
		-ms-transform: skewX(-45deg);
		-webkit-transform: skewX(-45deg);
		transform: skewX(-45deg);
		&:before {
			background-position: left bottom;
			-ms-transform: skewX(45deg);
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
		}
	}
	mark {
		font-weight: 600;
	}
	.inner {
		padding: 26px 0 92px;
		background: lighten(@c2,20) url(../images/bg/01.png) top;
		@media @hd, @md {
			padding: 15px 0 70px;
		}
		@media  @sm, @xs, @xxs {
			padding: 20px 0 50px;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -20%;
			right: 50%;
			height: 30px;
			margin: 0 15px 0 0;
			background: #fff;
			-ms-transform: skewX(45deg);
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
		}
		&:after {
			left: 50%;
			right: -20%;
			margin: 0 0 0 15px;
			-ms-transform: skewX(-45deg);
			-webkit-transform: skewX(-45deg);
			transform: skewX(-45deg);
		}
	}
}
.eshop-items { 
	clear: both;
	text-align: center;
	margin: 0 -12px 30px;
	@media  @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.eshop-items-title {
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.24em;
		line-height: 1.2;
		font-size: 24px;
		margin: 0 0 80px;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			border-top: 1px solid @c3;
		}
		span {
			position: relative;
			display: inline-block;
			padding: 0 30px;
			background: #fff;
		}
	}
	.eshop-item { 
		display: inline-block;
		vertical-align: top;
		width: 20%;
		margin: 0 -2px 35px;
		padding: 0 12px;
		@media @lg {
			padding: 0 27px;
		}
		@media @md {
			width: 25%;
		}
		@media @sm {
			width: 33.3333%;
		}
		@media @xs {
			width: 50%;
			max-width: 250px;
		}
		@media @xxs {
			width: 100%;
			max-width: 250px;
		}
		#col-main & {
			width: 25%;
			@media @sm {
				width: 33.3333%;
			}
			@media @xs {
				width: 50%;
			}
			@media @xxs {
				width: 100%;
			}
		}
		a { 
			display: block;
			text-decoration: none;
			color: @c1;
			padding: 0 0 58px;
			&:hover{
				background: #e3e7d9 url(../images/bg/01.png) top;
			}
			figure { 
				position: relative;
				overflow: hidden;
				margin: 0 0 40px;
				img { 
					display: block;
				}
				.labels {
					.rotate(45deg);
					position: absolute;
					top: -30px;
					right: -30px;
					text-align: center;
					width: 200px;
					height: 200px;
					.label {
						display: block;
						background: @c2;
						color: #000;
						text-transform: uppercase;
						line-height: 0.9;
						font-size: 11px;
						letter-spacing: 0.2em;
						padding: 15px 0 0;
						font-weight: 600;
						&:nth-child(1) {
							padding-top: 42px;
						}
						&.label_01 {
							background: @c4;
						}
					}
				}
				.discount { 
					position: absolute;
					bottom: 15px;
					left: 15px;
					text-align: center;
					width: 62px;
					height: 62px;
					line-height: 62px;
					padding: 0 0 0 8px;
					font-size: 26px;
					color: @c2;
					text-shadow: 1px 1px 0 #000;
					&:before {
						.border-radius(50%);
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						border: 2px solid @c2;
						border-right-color: transparent;
					}
					mark { 
						font-weight: 800;
					}
					span {
						display: inline-block;
						width: 0;
						overflow: visible;
					}
				}
			}
			.content { 
				padding: 0 20px;
				h2 { 
					text-transform: uppercase;
					font-size: 15px;
					line-height: 18px;
					min-height: 36px;
					letter-spacing: 0.24em;
					margin: 0 0 20px;
				}
			}
			.availability { 
				text-transform: uppercase;
				font-size: 11px;
				line-height: 1.2;
				letter-spacing: 0.4em;
				margin: 0 0 15px;
			}
			.price { 
				font-size: 26px;
				line-height: 1.2;
				color: @c2;
				mark { 
					font-weight: 800;
				}
			}
		}
	}
	&>nav {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			border-top: 1px solid @c3;
		}
		a {
			.btn;
			position: relative;
			height: 64px;
			line-height: 64px;
			border-left: 30px solid #fff;
			border-right: 30px solid #fff;
			background: @c5;
			&:hover{
				background: @c2;
			}
		}
	}
}
.mod_custom-about { 
	position: relative;
	z-index: 1;
	margin: 37px 0 0;
	background: lighten(@c2,15) url(../images/bg/01.png) top;
	@media  @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.container { 
		.mod-title { 
			.rotate(45deg);
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			width: 180px;
			height: 180px;
			margin: -90px 0 0 -90px;
			overflow: hidden;
			border: 5px solid #fff;
			@media @hd, @xs, @xxs  {
				top: -40px;
				margin-top: 0;
			}
			@media @sm {
				left: 0;
				margin-left: 0;
			}
			&:hover{
				border-color: darken(@c2,10);
			}
			a { 
				.rotate(-45deg);
				position: absolute;
				top: -50px;
				left: -50px;
				right: -50px;
				bottom: -50px;
				line-height: 270px;
				color: #fff;
				text-decoration: none;
				text-align: center;
				font-size: 0;
				background: #6da80a url(../images/bg/01.png) top;
				&:before {
					.fi;
					content: '\e80f';
					font-size: 82px;
				}
			}
		}
		ul { 
			.rlist;
			padding: 41px 0;
			text-align: center;
			@media @hd, @sm {
				padding: 100px 0 30px;
			}
			@media @sm {
				padding: 20px 0 20px 240px;
				text-align: left;
			}
			@media @xs, @xxs {
				padding: 180px 0 20px;
			}
			li {
				@media @lg, @hd, @md {
					display: inline-block;
					vertical-align: middle;
					width: 50%;
					margin: 0 -2px;
					text-align: right;
					font-size: 21px;
					line-height: 1.7;
					font-weight: 300;
					letter-spacing: 0.26em;
					text-transform: uppercase;
					padding: 0 0 0 80px;
					@media @hd {
						padding-left: 0;
					}
					@media @md {
						font-size: 16px;
					}
					a {
						text-decoration: none;
						color: #000;
						display: block;
						padding: 0 320px 0 0;
						@media @hd {
							padding-right: 200px;
						}
						@media @md {
							padding: 0 140px 0 0;
						}
						@media @sm {
							padding: 0 70px 0 0;
						}
						&:before {
							.fi;
							position: absolute;
							top: 50%;
							right: 160px;
							width: 70px;
							height: 70px;
							line-height: 70px;
							font-size: 35px;
							margin: -35px 0 0;
							color: #fff;
							text-align: center;
							@media @hd {
								right: 80px;
							}
							@media @md {
								display: none;
							}
						}
						&:after {
							.rotate(45deg);
							position: absolute;
							top: 50%;
							right: 145px;
							width: 100px;
							height: 100px;
							margin: -48px 0 0;
							border: 1px solid #fff;
							@media @hd {
								right: 65px;
							}
							@media @md {
								display: none;
							}
						}
						mark {
							font-weight: normal;
						}
						&:hover{
							&:before {
								color: darken(@c2,10);;
							}
							&:after {
								border-color: darken(@c2,10);;
							}
						}
					}
					&:nth-child(even) {
						padding: 0 80px 0 0;
						text-align: left;
						@media @hd {
							padding-right: 0;
						}
						@media @md, @sm, @xs, @xxs {
							padding: 0;
						}
						a {
							padding: 0 0 0 320px;
							@media @hd {
								padding-left: 200px;
							}
							@media @md, @sm, @xs, @xxs {
								padding: 0 0 0 140px;
							}
							@media @sm  {
								padding: 0 0 0 70px;
							}
							&:before {
								left: 160px;
								right: auto;
								@media @hd {
									left: 80px;
								}
							}
							&:after {
								right: auto;
								left: 145px;
								@media @hd {
									left: 65px;
								}
							}
						}
					}
					&.map { 
						a { 
							&:before {
								content: '\e810';
							}
							&:after {
								content: '';
							}
						}
					}
					&.link { 
						a { 
							&:before {
								content: '\e811';
							}
							&:after {
								content: '';
							}
						}
					}
				}
				@media @sm, @xs, @xxs {
					margin: 15px 0;
					font-size: 16px;
					line-height: 1.7;
					letter-spacing: 0.26em;
					text-transform: uppercase;
					a {
						text-decoration: none;
						color: #000;
						&:hover{
							text-decoration: underline;
						}
					}
					mark {
						font-weight: bold;
					}
				}
			}
		}
	}
}
.mod_menu-info, .mod_menu-service {
	float: left;
	width: 25%; 
	padding: 0 20px 0 0;
	margin: 0 0 40px;
	@media @hd, @md {
		width: 33.3333%;
	}
	@media @sm, @xs {
		width: 50%;
	}
	@media @sm, @xs, @xxs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	@media @xxs {
		width: 100%;
	}
	.mod-title { 
		text-transform: uppercase;
		font-size: 21px;
		line-height: 1.2;
		letter-spacing: 0.25em;
		margin: 0 0 19px;
	}
	ul { 
		.rlist;
		li { 
			padding: 0 0 0 18px;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.2;
			letter-spacing: 0.18em;
			margin: 0 0 13px;
			&:before {
				content: '/';
			}
			a { 
				text-decoration: none;
				color: @c1;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-service {
	@media @sm, @xs {
		clear: left;
		padding: 0;
	}
	@media  @sm, @xs, @xxs {
		clear: none;
	}
}
.mod_custom-certificate { 
	.clearfix;
	float: left;
	width: 25%;
	padding: 0 20px 0 0;
	margin: 0 0 40px;
	@media @hd, @md {
		width: 33.3333%;
	}
	@media @sm {
		width: 50%;
	}
	@media  @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	@media @xs, @xxs {
		width: 100%;
		max-width: 375px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.mod-title { 
		text-transform: uppercase;
		font-size: 21px;
		line-height: 1.2;
		letter-spacing: 0.25em;
		margin: 0 0 10px;
	}
	figure { 
		float: right;
		width: 50%;
		padding: 0 55px 0 0;
		@media @xxs {
			float: none;
			width: auto;
			padding: 0;
			max-width: 100px;
		}
	}
	.mod-content { 
		float: left;
		width: 50%;
		padding: 32px 5px 0 0;
		font-size: 14px;
		line-height: 2;
		@media @xxs {
			width: auto;
			float: none;
			padding: 0;
		}
		mark { 
			color: @c2;
		}
	}
}
.mod_custom-contact { 
	float: left;
	width: 25%;
	padding: 0 0 0 15px;
	margin: 0 0 40px;
	@media @hd, @md {
		width: 100%;
	}
	@media @sm {
		width: 50%;
		padding: 0;
	}
	@media  @sm, @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	@media @xs, @xxs {
		width: 100%;
		max-width: 375px;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.mod-title { 
		font-size: 0;
		line-height: 1;
		margin: -12px 0 35px;
		@media @hd, @md {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		&:before {
			.fi;
			content: '\e80e';
			font-size: 32px;
		}
	}
	address, .contact { 
		position: relative;
		font-style: normal;
		padding: 0 0 0 85px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 2;
		letter-spacing: 0.2em;
		margin: 0 0 20px;
		@media @hd, @md {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 50px;
		}
		&:before {
			.border-radius(50%);
			.fi;
			position: absolute;
			top: 50%;
			left: 0;
			width: 58px;
			height: 58px;
			line-height: 58px;
			margin: -29px 0 0;
			font-size: 30px;
			text-align: center;
			color: #fff;
			background: #c3c6b6;
		}
		a {
			color: @c1;
		}
		mark { 
			font-size: 26px;
			display: inline-block;
			line-height: 0;
		}
	}
	address {
		&:before {
			content: '\f124';
		}
	}
	.contact {
		&:before {
			content: '\f10b';
			font-size: 38px;
		}
	}
}
.mod_custom-copy-copy {
	float: left;
	color: #fff;
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: 0.16em;
	font-weight: 300;
	text-transform: uppercase;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
	}
	mark {
		font-weight: 600;
	}
}
.mod_menu-footer {
	float: left;
	margin: 0 20px 20px;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
	}
	ul {
		.rlist;
		font-size: 13px;
		line-height: 1.2;
		letter-spacing: 0.16em;
		text-transform: uppercase;
		color: #fff;
		li {
			display: inline-block;
			font-weight: 300;
			&:after {
				content: '|';
				margin: 0 4px 0 8px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-copy-xart {
	float: right;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
	}
	a {
		display: inline-block;
		color: #fff;
		font-size: 11px;
		text-decoration: none;
		text-transform: uppercase;
		&:after {
			.fi;
			content: '\e80c';
			position: relative;
			top: -1px;
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			margin: 0 0 0 10px;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_breadcrumbs {
	margin: 20px 0 42px 100px;
	@media @md, @sm, @xs, @xxs {
		margin-left: 0;
	}
	ul {
		.rlist;
		li {
			display: inline-block;
			padding: 0 0 0 20px;
			margin: 0 7px 0 0;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.2;
			color: @c2;
			&:before {
				content: '\f006';
				font-weight: normal;
				color: @c3;
				top: 1px;
			}
			&.home {
				padding: 0;
				font-size: 0;
				&:before {
					display: none;
				}
				a {
					&:before {
						.fi;
						content: '\e812';
						font-size: 20px;
					}
				}
			}
			a {
				font-weight: normal;
				text-decoration: none;
				color: @c3;
				&:hover{
					color: @c2;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 30px;
	@media @sm, @xs, @xxs {
		display: none;
		margin: 0;
		.menu-on & {
			display: block;
		}
	}
	&>ul {
		.rlist;
		&>li {
			padding: 0 0 0 14px;
			font-size: 13px;
			line-height: 1.25;
			margin: 0 0 25px;
			text-transform: uppercase;
			font-weight: 600;
			@media @sm, @xs, @xxs {
				padding: 0;
				margin: 0;
			}
			&:before {
				content: '/';
				font-size: 15px;
				top: 0;
				@media @sm, @xs, @xxs {
					display: none;
				}
			}
			&>a {
				position: relative;
				font-size: 15px;
				text-decoration: none;
				color: @c1;
				@media @sm, @xs, @xxs {
					display: block;
					padding: 20px 0;
					font-weight: 300;
					font-size: 21px;
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: -999em;
						right: -999em;
						border-bottom: 1px solid @c1;
					}
				}
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				&:before {
					color: @c2;
				}
				&>a {
					color: @c2;
				}
			}
			&>ul {
				.rlist;
				margin: 23px 0 28px;
				@media @sm, @xs, @xxs {
					position: relative;
					margin: 0;
					padding: 10px 0;
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: -999em;
						right: -999em;
						border-bottom: 1px solid @c1;
					}
				}
				&>li {
					padding: 0 0 0 60px;
					margin: 0 0 10px;
					@media @md {
						display: inline-block;
						margin: 0 20px 20px 0;
					}
					a {
						text-decoration: none;
						color: @c1;
						&:hover{
							text-decoration: underline;
						}
					}
					img {
						position: absolute;
						top: 3px;
						left: 0;
						max-width: 50px;
					}
				}
				.act {
					&>a {
						color: @c2;
					}
				}
				ul {
					.rlist;
					margin: 20px 0 20px 20px;
					li {
						margin: 5px 0;
						text-transform: none;
						@media @md {
							display: inline-block;
							margin: 5px 20px 5px 0;
						}
					}
				}
			}
		}
	}
}
.eshop_detail { 
	margin: 50px 0 0;
	.detail_image { 
		float: left;
		width: 50%;
		padding: 0 20px 0 0;
		margin: 0 0 50px;
		@media @sm {
			width: 40%;
		}
		@media @xs, @xxs {
			width: 100%;
			padding: 0;
			margin: 0;
		}
		figure { 
			position: relative;
			overflow: hidden;
			margin: 0 0 16px;
			@media @xs, @xxs {
				margin: 0 auto 16px;
				max-width: 250px;
			}
			img { 
				display: block;
			}
			.labels {
				.rotate(45deg);
				position: absolute;
				top: -30px;
				right: -30px;
				text-align: center;
				width: 200px;
				height: 200px;
				.label {
					display: block;
					background: @c2;
					color: #000;
					text-transform: uppercase;
					line-height: 0.9;
					font-size: 11px;
					letter-spacing: 0.2em;
					padding: 15px 0 0;
					font-weight: 600;
					&:nth-child(1) {
						padding-top: 42px;
					}
					&.label_01 {
						background: @c4;
					}
				}
			}
			a {
				display: block;
				border: 2px solid @c3;
				&:hover{
					border-color: @c2;
				}
			}
		}
		.thumbnails { 
			.rlist;
			margin: 0 -8px 30px;
			li { 
				display: inline-block;
				vertical-align: middle;
				margin: 0 -4px 0 0;
				padding: 0 8px 16px;
				width: 25%;
				@media @sm {
					width: 50%;
				}
				a { 
					display: block;
					border: 2px solid @c3;
					&:hover{
						border-color: @c2;
					}
					img { 
						display: block;
					}
				}
			}
		}
	}
	.detail_description { 
		float: left;
		width: 50%;
		padding: 0 0 0 60px;
		margin: 0 0 50px;
		@media @hd, @sm {
			padding: 0 0 0 20px;
		}
		@media @sm {
			width: 60%;
		}
		@media @xs, @xxs {
			width: 100%;
			padding: 0;
			margin: 0;
		}
		.description { 
			.clearfix;
			margin: 0 0 10px;
			.more { 
				float: right;
				display: inline-block;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 600;
				color: @c1;
				text-decoration: none;
				margin: 30px 0 20px;
				&:after {
					.fi;
					content: '\f006';
					margin: 0 0 0 10px;
				}
				&:hover{
					color: @c2;
				}
			}
		}
		.options { 
			padding: 0 0 32px;
			margin: 0 0 30px;
			border-bottom: 1px solid @c3;
			.items { 
				.item { 
					margin: 0 0 12px;
					.label { 
						display: inline-block;
						vertical-align: middle;
						width: 30%;
						margin: 0 -5px 0 0;
						padding: 0 10px 0 0;
						text-transform: uppercase;
						font-size: 14px;
						font-weight: 600;
						letter-spacing: 0.2em;
						@media @xs, @xxs {
							width: auto;
							display: block;
							margin: 0;
						}
					}
					.content { 
						display: inline-block;
						width: 50%;
						@media @xs, @xxs {
							display: block;
							width: auto;
						}
						select { 
							font-size: 14px;
						}
					}
				}
			}
		}
		.price { 
			.items { 
				display: inline-block;
				vertical-align: top;
				width: 80%;
				margin: 0 -5px 20px 0;
				@media @hd, @xs {
					width: 65%;
				}
				@media @xxs {
					width: 100%;
					margin-right: 0;
					width: 100%;
				}
				.item { 
					@media @hd, @md, @sm ,@xs, @xxs {
						margin: 0 0 20px;
					}
					.label { 
						display: inline-block;
						vertical-align: middle;
						width: 40%;
						margin: 0 -5px 0 0;
						padding: 0 10px 0 0;
						text-transform: uppercase;
						font-size: 14px;
						line-height: 1.2;
						font-weight: 600;
						letter-spacing: 0.2em;
						@media @hd, @md, @sm ,@xs, @xxs {
							display: block;
							width: auto;
							margin: 0;
						}
					}
					.content { 
						display: inline-block;
						width: 60%;
						@media @hd, @md, @sm ,@xs, @xxs {
							display: block;
							width: auto;
						}
					}
					&.item_01 {
						margin: 0 0 15px;
						.label {
							vertical-align: top;
							padding-top: 15px;
						}
						.content {
							color: @c2;
							font-size: 37px;
							line-height: 1.2;
							font-weight: 300;
							mark {
								font-weight: 800;
							}
							span {
								display: block;
								font-weight: normal;
								font-size: 16px;
								color: @c5;
							}
						}
					}
					&.item_02 {
						.content {
							color: @c5;
							font-size: 21px;
							font-weight: 300;
						}
					}
					&.item_03 {
						.content {
							font-size: 21px;
							font-weight: 300;
						}
					}
				}
			}
			.discount { 
				display: inline-block;
				vertical-align: top;
				width: 20%;
				margin: 0 0 30px;
				@media @hd, @xs {
					width: 35%;
				}
				@media @xxs {
					display: block;
					width: 100%;
				}
				.percentage { 
					position: relative;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					text-align: center;
					width: 96px;
					height: 96px;
					line-height: 96px;
					font-size: 36px;
					&:before {
						.border-radius(50%);
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						border: 7px solid @c2;
						border-right-color: transparent;
					}
					span {
						display: inline-block;
						width: 0;
						overflow: visible;
					}
					mark { 
						font-weight: 800;
					}
					span { 
						display: inline-block;
						width: 0;
						overflow: visible;
					}
				}
			}
			.availability { 
				font-size: 15px;
				font-weight: bold;
				margin: 0 0 35px;
				.text-success, .text-alert, .text-error { 
					position: relative;
					display: block;
					padding: 0 0 0 50px;
					margin: 0 0 25px;
					&:before {
						.fi;
						position: absolute;
						top: 50%;
						left: 0;
						font-size: 46px;
						line-height: 1;
						margin: -23px 0 0;
					}
				}
				.text-success {
					&:before {
						content: '\e819';
					}
				}
				.text-alert { 
					&:before {
						content: '\e819';
					}
				}
				.text-error { 
					&:before {
						content: '\e807';
					}
				}
			}
		}
		.basket { 
			input { 
				display: inline-block;
				vertical-align: middle;
				width: 22%;
				margin: 0 -5px 0 0;
				height: 58px;
				line-height: 58px;
				font-size: 20px;
				padding: 0 0 0 30px;
				@media @xxs {
					width: 80%;
				}
			}
			span { 
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				width: 11%;
				margin: 0 -5px 0 0;
			}
			button { 
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 67%;
				height: 58px;
				line-height: 58px;
				padding: 0 60px 0 0;
				font-size: 20px;
				@media @xxs {
					display: block;
					width: 100%;
					margin: 20px 0;
				}
				&:before {
					.fi;
					content: '\f291';
					position: absolute;
					top: 0;
					right: 0;
					background: #000;
					font-weight: normal;
					font-size: 22px;
					width: 60px;
					text-align: center;
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 60px;
					border: 29px solid #000;
					border-right-width: 0;
					border-left: 15px solid transparent;

				}
				&:hover{
					&:before {
						background: @c4;
					}
					&:after {
						border-top-color: @c4;
						border-bottom-color: @c4;
					}
				}
			}
		}
	}
}
.mod_custom_panes { 
	clear: both;
	padding: 30px 0 0;
	.tabs { 
		margin: 0 0 40px;
		border-bottom: 2px solid @c1;
		ul {
			.rlist;
			display: table;
			@media @xs, @xxs {
				display: block;
			}
			li { 
				display: table-cell;
				padding: 30px 40px 18px 60px;
				font-size: 14px;
				line-height: 1.2;
				letter-spacing: 0.3em;
				font-weight: 600;
				text-align: center;
				@media @xs, @xxs {
					display: block;
					margin: 0 0 10px;
					padding: 20px;
				}
				a { 
					text-transform: uppercase;
					color: darken(@c5,10);
					text-decoration: none;
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 20px;
						bottom: 0;
						right: 0;
						border: 2px solid fade(@c3,50);
						border-bottom: none;
						@media @xs, @xxs {
							left: 0;
							border: 2px solid fade(@c3,50);
						}
					}
					&:hover{
						color: @c2;
						&:before {
							border-color: @c2;
						}
					}
				}
				&.cycle-pager-active {
					a {
						color: @c1;
						&:before {
							border-color: @c1;
						}
					}
				}
			}
		}
	}
	.pane { 
		margin: 0 20px;
		position: static!important;
		&.cycle-slide {
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
		p { 
		}
	}
}
.mod_custom-filter { 
	.clearfix;
	margin: 40px 0;
	.mod-left { 
		float: left;
		width: 50%;
		padding: 0 20px 0 0;
		@media @sm, @xs, @xxs {
			width: 100%;
			padding: 0;
		}
	}
	.mod-right { 
		float: left;
		width: 50%;
		padding: 0 0 0 20px;
		@media @sm, @xs, @xxs  {
			width: 100%;
			padding: 0;
		}
	}
	.form-row { 
		.clearfix;
		margin: 0 0 25px;
		.form-title { 
			font-size: 14px;
			line-height: 1.2;
			font-weight: bold;
			float: left;
			width: 80px;
			@media @sm, @xs, @xxs {
				float: none;
				width: auto;
				margin: 0 0 10px;
			}
		}
		.form-content { 
			font-size: 14px;
			line-height: 1.2;
			margin: 0 0 0 90px;
			@media @sm, @xs, @xxs {
				margin: 0;
			}
			.form-checkbox { 
				display: inline-block;
				vertical-align: top;
				margin: 0 15px 0 0;
				input { 
				}
				label { 
				}
			}
		}
	}
	.form-select { 
		margin: 0 0 25px;
		label { 
			font-size: 14px;
			line-height: 1.2;
			font-weight: bold;
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;
			@media @sm, @xs, @xxs {
				margin: 0 0 10px;
			}
		}
		.form-content {
			display: inline-block;
			vertical-align: middle;
			min-width: 50%;
			@media @sm, @xs, @xxs {
				display: block;
			}
		}
	}
	.form-range { 
		text-align: right;
		margin: 0 0 45px;
		@media @sm, @xs, @xxs {
			text-align: left;
		}
		label { 
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 1.2;
			font-weight: bold;
			margin: 0 10px 0 0;
			@media @sm, @xs, @xxs {
				display: block;
				margin: 0 0 10px;
			}
		}
		.slider_range { 
			position: relative;
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			height: 8px;
			@media @sm, @xs, @xxs {
				width: auto;
				display: block;
			}
			.ui-slider {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 100%;
			}
		}
	}
	.mod-reset {
		position: relative;
		clear: both;
		text-align: right;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			border-top: 1px solid @c3;
		}
		a {
			position: relative;
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color: @c1;
			height: 42px;
			line-height: 42px;
			font-size: 13px;
			font-weight: 600;
			padding: 0 58px 0 25px;
			background: #fff;
			&:before {
				.fi;
				.border-radius(50%;);
				content: '\f1f8';
				position: absolute;
				right: 0;
				top: 50%;
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 20px;
				margin: -21px 0 0;
				color: #fff;
				font-weight: normal;
				text-align: center;
				background: #000;
			}
			&:hover{
				&:before {
					background: @c4;
				}
			}
		}
	}
}
.ui-slider {
	position: relative;
	display: block;
	height: 8px;
	margin: 0 0 40px;
	border: 1px solid @c3;
}
.ui-slider-range {
	position: absolute;
	top: -1px;
	bottom: -1px;
	border: 1px solid @c1;
	background: @c2;
}
.ui-slider-handle {
	position: absolute;
	top: 50%;
	height: 16px;
	width: 16px;
	margin: -8px 0 0 -8px;
	border: 1px solid @c1;
	background: #fff;
	outline: none;
	cursor: pointer;
	span {
		position: absolute;
		top: 100%;
		left: 50%;
		width: 70px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		white-space: nowrap;
		margin: 0 0 0 -35px;
		padding: 12px 0 0;
		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: 50%;
			border: 7px solid transparent;
			border-bottom-color: @c2;
			border-top-width: 0;
			margin: 0 0 0 -7px;
		}
	}
}
.slider_range input {
	display: none;
}